@use "./variables" as var;

@use "sass:map";
/*breakpoints-mixin*/
@mixin bp($size) {
  @media (min-width: map.get(var.$breakpoint, $size)) {
    @content;
  }
}
/*fonts-mixins*/

@mixin hd-xxl() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "hd-xxl");
  font-weight: map.get(var.$fonts-w, "bold");
  line-height: map.get(var.$line-h, "hd-xxl");
  word-spacing: map.get(var.$word-sp, "hd-xxl");
}

@mixin hd-xl() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "hd-xl");
  font-weight: map.get(var.$fonts-w, "bold");
  line-height: map.get(var.$line-h, "hd-xl");
  word-spacing: map.get(var.$word-sp, "hd-xl");
}

@mixin hd-l() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "hd-l");
  font-weight: map.get(var.$fonts-w, "bold");
  line-height: map.get(var.$line-h, "hd-l");
  word-spacing: map.get(var.$word-sp, "hd-l");
}

@mixin hd-m() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "hd-m");
  font-weight: map.get(var.$fonts-w, "bold");
  line-height: map.get(var.$line-h, "hd-m");
}

@mixin bd-xl() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "bd-xl");
  font-weight: map.get(var.$fonts-w, "bold");
  line-height: map.get(var.$line-h, "bd-l");
}

@mixin bd-l() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "bd-l");
  font-weight: map.get(var.$fonts-w, "medium");
  line-height: map.get(var.$line-h, "bd-l");
}

@mixin bd-m() {
  font-family: var.$font-family-primary;
  font-size: map.get(var.$font-sz, "bd-m");
  font-weight: map.get(var.$fonts-w, "medium");
  line-height: map.get(var.$line-h, "bd-l");
}

@mixin btn-idle() {
  @include bd-m();
  font-size: 19px;
  color: map.get(var.$colors, "white");
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2.29px;
  line-height: 26px;
  &::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: map.get(var.$colors, "aqua");
    position: absolute;
    bottom: -12px;
  }

  &:hover {
    color: map.get(var.$colors, "aqua");
  }
}
